<html>

<head>
    <link rel="stylesheet" href="../stylesheets/Style.css">

</head>

<body>
    <div class="us">
        <div class="us2"></div>
        <h2 class="lan">" Lorem ipsum dolor sit amet,consectetur adipiscing elit.Integer posuere erat a ante.Lorem ipsum dolor sit amet,consectetur
            adipiscing elit.Integer posuere erat a ante. -John Doe
        </h2>
        <div style="z-index: 100;background-color: white">
            <h3 class="lan2"> CONTACT US </h3>
            <div class="lan3">
                <h3>ADDRESS</h3>
                <h3 class="lan4">Nhance Studio</h3>
                <p class="para">info@vmrCeatio.com</p>
                <p class="para">+91-9558211215</p>
                <p class="para">EDEN-4,ROYAL ESTATE PARK,NEW DELHI,INDIA</p>
            </div>
            <section>
                <h3 class="lan5">SEND YOUR QUERY</h3>
                <P class="para1">NAME</P>
                <P class="para1">E-MAIL</P>
                <P class="para2">MESSAGE</P>
            </section>
        </div>
    </div>
</body>

</html>