<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../stylesheets/Style.css">

</head>

<body>
    <section id="contact-header-section">
        <div class="container">

            <div class="row">
                <div class="offset-md-3 col-md-6 offset-sm-1 col-sm-10">
                    <p class="margin-top-7x white-text"> Lorem ipsum dolor sit amet,consectetur adipiscing elit.Integer posuere erat a ante.Lorem ipsum dolor
                        sit amet,consectetur adipiscing elit.Integer posuere erat a ante.
                        <cite>-John Doe</cite>
                    </p>
                </div>
            </div>

        </div>

    </section>

    <section>
        <div class="container">

            <h3 class="text-center heading-padd">CONTACT US</h3>


            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <h3>ADDRESS</h3>
                    <h3 class="lan4">Nhance Studio</h3>
                    <p class="para">info@vmrCeatio.com</p>
                    <p class="para">+91-9558211215</p>
                    <p class="para">EDEN-4,ROYAL ESTATE PARK,NEW DELHI,INDIA</p>
                </div>
                <div class="col-md-6 col-sm-12 margin-bottom-3x shadow-box">
                    <form>
                        <h4 class="sub-heading" style="color:#5054a8">SEND YOUR QUERY</h4>

                        <div class="form-group">

                            <input type="name" class="form-control" id="exampleInputname" aria-describedby="nameHelp" placeholder="Name">

                        </div>
                        <div class="form-group">

                            <input type="E-MAIL" class="form-control" id="exampleInputE-Mail" placeholder="E-MAIL">
                        </div>
                        <div class="form-group form-check">

                        </div>
                        <div class="form-group">

                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" cols="50" placeholder="Message"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    </textarea>
                </div>
            </div>
        </div>
    </section>
</body>

</html>