<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../stylesheets/Style.css">

</head>

<body>
        <section >
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="#">Nhance Studio</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">HOME</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">ABOUT</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">PROJECTS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="#">CONTACT US</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " href="#">GALLERY</a>
                            </li>
        
                        </ul>
                    </div>
                </nav>
                <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                    crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                    crossorigin="anonymous"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
                    crossorigin="anonymous"></script>
        
            </section>
    <section id="contact-header-section">
        <div class="container">

            <div class="row">
                <div class="offset-md-3 col-md-6 offset-sm-1 col-sm-10">
                    <p class="margin-top-7x white-text fstyle"> "Lorem ipsum dolor sit amet,consectetur adipiscing elit.Integer posuere erat a ante.Lorem ipsum dolor
                        sit amet,consectetur adipiscing elit.Integer posuere erat a ante. </p>
                    <cite class="white-text">-John Doe</cite>

                </div>
            </div>

        </div>

    </section>

    <section>
        <div class="container">
            <h3 class="text-center heading-padd">CONTACT US</h3>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <h3 class="fweight" style="color:#5054a8">ADDRESS</h3>
                    <h3 class="lan4" style="color:#5054a8">Nhance Studio</h3>
                    <p class="para" style="color:#5054a8">info@vmrCeatio.com</p>
                    <p class="para" style="color:#5054a8">+91-9558211215</p>
                    <p class="para" style="color:#5054a8">EDEN-4,ROYAL ESTATE PARK,NEW DELHI,INDIA</p>
                </div>
                <div class="col-md-6 col-sm-12 margin-bottom-3x shadow-box">
                    <form>
                        <h4 class="sub-heading fweight" style="color:#5054a8">SEND YOUR QUERY</h4>

                        <div class="form-group">

                            <input type="name" class="form-control" id="exampleInputname" aria-describedby="nameHelp" placeholder="Name">

                        </div>
                        <div class="form-group">

                            <input type="E-MAIL" class="form-control" id="exampleInputE-Mail" placeholder="E-MAIL">
                        </div>
                        <div class="form-group form-check">

                        </div>
                        <div class="form-group">

                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" cols="50" placeholder="Message"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    </textarea>
                </div>
            </div>
        </div>
    </section>
    <section class="margin-top-7x" style="background-color: #262739 ">
        <div class="container">
            <div class="row" style= "color: white">
                <div class="col-md-3 col-sm-6 col-6 margin-top-7x" style=" font-size: 14px" >
                    <h5 class="fweight"  style=" font-size: 14px">COMPANY</h5>
                    <div class="row"  style= "color: #797676 ">
                        <div class="col-md-6 col-sm-6 col-12">
                            <p class="info" >OUR SERVICES</p>
                            <p class="info" >WHY COME TO US ?</p>
                            <p class="info" >MEET OUR CLIENT</p>
                            <p class="info" >CONTACT US</p>
                            <p class="info" >COMPANY</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-6 margin-top-7x" style=" font-size: 14px">
                    <h5  class="fweight"  style=" font-size: 14px">SERVICES</h5>
                    <div class="row"  style= "color: #797676 ">
                        <div class="col-md-6 col-sm-6 col-12 ">
                            <p class="info">INTERIOR DESIGNING</p>
                            <p class="info" >FLOOR PLANNING</p>
                            <p class="info" style=>STRUCTURAL ANALYSIS</p>
                        </div>
                    </div>

                </div>
                <div class="col-md-3 col-sm-6 col-6 margin-top-7x" style=" font-size: 14px">
                    <h5  class="fweight"  style=" font-size: 14px">PROJECTS</h5>
                    <div class="row"  style= "color: #797676 ">
                        <div class="col-md-6 col-sm-6 col-12 ">
                            <p class="info" >SKYLINE</p>
                            <p class="info"  >SKYPARK</p>
                            <p class="info" >SKYLITE</p>
                            <p class="info"  >HOTEL LILAC</p>
                            <p class="info"  >NEXT ONE RESIDENCE</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-6 margin-top-7x" style=" font-size: 14px">
                    <h5  class="fweight"  style=" font-size: 14px">OUR CLIENTS </h5>
                    <div class="row"  style= "color: #797676 ">
                        <div class="col-md-6 col-sm-6 col-12 ">
                            <p class="info"  >SUNPRIME INFRATECH</p>
                            <p class="info"  >AMRAPALI </p>
                            <p class="info"  >SUPERTECH</p>
                            <p class="info"  >PRATEEK FEDORA</p>
                            <p class="info"  >WAVE</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--<section class="container">
        <div class="row">
            <div class="col-md-6 col-12">
                <p>Party 1</p>
                <div class="row">
                    <div class="col-md-6 col-6">
                        Mall 1
                        <div class="row">
                            <div class="col-md-3 col-6">venue1</div>
                            <div class="col-md-3 col-6">venue1</div>
                            <div class="col-md-3 col-6">venue1</div>
                            <div class="col-md-3 col-6">venue1</div>
                        </div>
                    </div>

                    <div class="col-md-6 col-6">
                        Mall 2
                        <div class="row">
                            <div class="col-md-3 col-6">venue1</div>
                            <div class="col-md-3 col-6">venue1</div>
                            <div class="col-md-3 col-6">venue1</div>
                            <div class="col-md-3 col-6">venue1</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <p>Party 1</p>
                <div class="row">
                    <div class="col-md-6">
                        Mall 3
                        <div class="row">
                            <div class="col-md-3">venue1</div>
                            <div class="col-md-3">venue1</div>
                            <div class="col-md-3">venue1</div>
                            <div class="col-md-3">venue1</div>
                        </div>
                    </div>

                    <div class="col-md-6">
                            Mall 4
                            <div class="row">
                                <div class="col-md-3">venue1</div>
                                <div class="col-md-3">venue1</div>
                                <div class="col-md-3">venue1</div>
                                <div class="col-md-3">venue1</div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </section>!-->
</body>

</html>