<html>

<head>
    <title>Nhance Studio</title>
    <link rel="stylesheet" href="../stylesheets/Style.css">
</head>

<body>
    <header>

        <h1>Nhance Studio</h1>
        <ul class="nav">
            <li>
                <a class="homeblack" href="#">HOME</a>
            </li>
            <li>
                <a class="homeblack" href="#">ABOUT</a>
            </li>
            <li>
                <a class="homeblack" href="#">PROJECTS</a>
            </li>
            <li>
                <a class="homeblack" href="contact-us.html">CONTACT US</a>
            </li>
            <li>
                <a class="homeblack" href="#">GALLERY</a>
            </li>
        </ul>

    </header>
    <div class="divider"></div>
    <div class="image">

    </div>
</body>

</html>