.homeSection {
    background-image: url("../images/Building3SS.jpg");                  
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
   
} 

/*.homeblack:hover {
    color: white;
    text-decoration: underline;
}*/

#contact-header-section {

    background-image: url("../images/bottleShip.jpg");
    background-repeat: no-repeat;   
    background-attachment: fixed;
    background-position: center;
    
}

.white-text {
    color: white !important;
}

.lan4 {
    text-decoration: underline;
}
form {
    border:white 1px solid;
    border-radius: 10px;
    padding: 20px;
    background-color: white;
}

.sub heading {
    font-size: 15px; 
}

.heading-padd {
    padding-top: 70px;
    padding-bottom: 40px
}

.margin-top-7x {
    margin-top: 70px;
}

.margin-bottom-3x {
    margin-bottom: 30px
}

.shadow-box {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2)
}